@import "../../../common/styles/fonts.scss";
@import "../../../common/styles/theme.scss";

.favorites {
  max-width: 1080px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: 10px;
}
