@import "../../../common/styles/fonts.scss";
@import "../../../common/styles/theme.scss";
.login-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: $neutral-color;
  font-family: PressStart2P;
  // background: url("https://loading.io/asset/549962");
}

.login__image {
  max-width: 300px;
  display: block;
  margin: 20px auto;
}
.login__title {
  color: white;
  font-size: 1.5rem;
}
