@import "../../../common/styles/fonts.scss";
@import "../../../common/styles/theme.scss";

.card-track {
  grid-column: span 1;
  min-width: 300px;
  width: 95%;
  height: 85px;
  color: white;
  background-color: $neutral-secondary-color;
  margin: 7px auto;
  display: flex;
  flex-flow: row nowrap;
  border-radius: 10px;
  overflow: hidden;
  font-family: PressStart2P;
  letter-spacing: 0.3pt;
  line-height: 10pt;

  .card-track__info {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding: 5px 10px;
    width: 70%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    text-align: start;

    h3 {
      padding: 5px 0px;
      font-size: 0.6rem;
      
    }
    p {
      font-size: 0.45rem;
    }
  }
}

@media all and (min-width: 768px) {
  // .card-track {
  //   // width: 45%;
  // }
}
@media all and (min-width: 1024px) {
  .card-track {
    // width: 30%;
    height: 130px;
    h3 {
      font-size: 0.7rem;
    }
    p {
      font-size: 0.5rem;
    }
  }
}
