@import "./theme.scss";
@import "./fonts.scss";

.header {
  display: flex;
  flex-flow: row nowrap;
  background-color: $primary-color;
  font-family: PressStart2P;
  color: $secondary-color;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  justify-content: space-between;

  .header__menu--activate {
    display: none;
    
  }

  .header__user {
    color: $neutral-color;
  }
  .header__logo {
    margin: 5px 30px;
    width: 80px;
    cursor: pointer;
  }
  .header__nav {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    ul {
      display: flex;
      flex-flow: row nowrap;
      li {
        display: block;
        padding: 5px 15px;
        cursor: pointer;
        transition: 0.8s;
        text-decoration: 1px underline;
      }
      li:hover {
        transition: 0.4s;
        color: white;
        text-decoration: 2px underline $neutral-color;
      }
    }
    img{
      width: 30px;
      margin: 10px;
      cursor: pointer;
    }

  }
  @media all and (max-width: 768px) {
   .header__nav {
      display: none;
    }
    .header__logo {
        margin: 0 auto;
      }
      .header__menu--activate {
        display: block;
        position: absolute;
        right: 10px;
        width: 30px;
      }
  }
}

