@import "./theme.scss";
@import "./fonts.scss";


.login-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: $neutral-color;
  font-family: PressStart2P;
}

.login__image {
  max-width: 300px;
  display: block;
  margin: 20px auto;
}
.login__title {
  color: white;
  font-size: 1.5rem;
}
// button
.login__button,
.login__button::after {
  width: 240px;
  height: 65px;
  margin: 20px auto;
  font-size: 1.2rem;
  background: linear-gradient(45deg, transparent 5%, $primary-color 5%);
  border: 0;
  color: #fff;
  font-family: PressStart2P;
  letter-spacing: 3px;
  line-height: 65px;
  box-shadow: 6px 0px 0px $secondary-color;
  outline: transparent;
  position: relative;
}

.login__button::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: "LOGIN";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    white 3%,
    white 5%,
    $primary-color 5%
  );
  text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px white;
  clip-path: var(--slice-0);
}

.login__button:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}
