@import "./theme.scss";
@import "./fonts.scss";

.navbar {
  height: 100vh;
  width: 100vw;
  background-color: $secondary-color;
  position: absolute;
  z-index: 4;
  color: $primary-color;
  display: flex;
  flex-flow: column;
  align-items: center;
  font-family: PressStart2P;
  text-align: center;
  .navbar__h3 {
    margin: 20px auto;
    font-size: 2.5rem;
  }
  ul {
    padding: 30px 10px;
    font-size: 1.5rem;
    li {
      margin: 30px auto;
      cursor: pointer;
    }
    li:hover {
        transition: 0.4s;
        color: $neutral-color;
        text-decoration: 2px underline $neutral-color;
      }
  }
  .navbar__img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin: 90px auto 30px auto;
    border: 5px $neutral-color solid;
  }
  .navbar__exit-button {
    width: 20px;
    margin: 20px 10px;
    position: absolute;
    right: 4px;
  }
}
@media all and (min-width: 768px) {
  .navbar {
    display: none;
  }
}
