@import "../../../common/styles/fonts.scss";
@import "../../../common/styles/theme.scss";

.header {
  display: flex;
  flex-flow: row nowrap;
  background-color: $primary-color;
  font-family: PressStart2P;
  color: $secondary-color;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  justify-content: space-between;

  .header__menu--activate {
    display: none;
  }

  .header__user {
    color: $neutral-color;
    font-size: 0.7rem;
  }

  .header__nav {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    ul {
      display: flex;
      flex-flow: row nowrap;
      li {
        display: block;
        padding: 5px 15px;
        cursor: pointer;
        transition: 0.8s;
        text-decoration: 1px underline;
      }
      li:hover {
        transition: 0.4s;
        color: white;
        text-decoration: 2px underline $neutral-color;
      }
    }
    img {
      width: 20px;
      margin: 10px;
      cursor: pointer;
    }
  }
  @media all and (max-width: 768px) {
    .header {
      overflow: hidden;
      position: fixed;
      top: 0;
    }
    .header__nav {
      display: none;
    }
    .header__menu--activate {
      display: block;
      position: absolute;
      right: 10px;
      width: 30px;
    }
  }
}
@media all and (max-width: 768px) {
  .header {
    overflow: hidden;
    position: fixed;
    top: 0;
  }
}
