@import "../../../common/styles/fonts.scss";
@import "../../../common/styles/theme.scss";

.footer{
    font-family: PressStart2P;
    text-align: center;
    padding: 15px;
    height: 50px;
    width: 100%;
    color: $primary-color;
    background-color: $secondary-color;
}