@import "./common/styles/_theme.scss";


li{
  list-style: none;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
a, a:link, a:visited, a:active {
  text-decoration:none;
  color: inherit;
}

body{
  background-color: $neutral-color;
}